/*Regular Layout*/

body {
	background-color: #FFF6e8;
	font-family: 'Crimson Text', serif;
	text-align: center;
	
}

header {

	background-color: #980d01;
	background-image: url(airplane.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 40vh;
	width: 100vw;
	padding-left: 0%;
	padding-top: 0%;
	padding-right: 0%;

}

.header {

	font-family: 'Meddon', cursive;
	font-size: 30px;
	color: #FFF6e8;
	padding-top: 5%;

}

.subheader {

	font-family: 'Open Sans', sans-serif;
	color: #FFEEDB;
	font-size: 15px;
	padding-bottom: 5px;

}

h1 {

	font-family: 'Meddon', cursive;
	color: #1A1F0C;
	font-size: 25px;

}

.flex-container {

	text-align: center;

}

.row1 {

	display: flex;
	justify-content: center;

}

.para {

	display:block;
	font-size: 20px;

}

.rect {

	width: 25%;
	height: 25%;
	
}

.round {

	border-radius: 50%;
	width: 15%;
	height: 20%;
	
}

.block {

	display: block;

}

.row2, .row2pt2 {
	
	display: flex;
	justify-content: center;
	
}

.slideshow {

	width: 15%;
	height: 15%;
	margin: auto;
	
}

/*Mobile Layout*/

@media screen and (max-width: 700px) {
	body {
		background-color: #FFF6e8;
		font-family: 'Crimson Text', serif;
		text-align: center;
		display: block;
	
	}
	
	.header, .subheader {
	
		color: #980D01;
			
	}
	
	.subheader {
	
		margin: 1px;
	
	}
	
	h1 {
	
		font-size: 20px;
	
	}
	
	.para {
		font-size: 18px;
		
	}
	
	.row1, .row2, .row2pt2 {

		display: block;
		text-align: center;

	}
	
	.rect {

		width: 35%;
		height: 35%;
	
	}

	.round {

		border-radius: 50%;
		width: 30%;
		height: 25%;
	
	}
	
	.slideshow {
	
		width: 50%;
		height: 50%;
		margin: auto;
		
	}
}
